@import url(https://fonts.bunny.net/css?family=alegreya-sans:100,300,400,500,700,800,900);

:root {
    --white: #fff;
    --black: #000;
    --grey: grey;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px/1.5 'Alegreya Sans', sans-serif;
    width: 600px;
    height: 98vh;

    margin: 5px auto;
    border: 1px solid;
    border-radius: 50px;
}

h1 {
    font-size: 2.5rem;
}

/* .intro SECTION
--------------
*/

.intro {
    padding: 100px 0;
}

.container {
    text-align: center;
}

/* .timeline SECTION
--------------
*/

.timeline {
    text-align: center;
}

.timeline ul {
    display: flex;
    flex-direction: column;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.timeline .timewrapper {
    flex: 1;
    position: relative;
}

.timeline .details {
    flex: 2;
    position: relative;
}

.timeline .timewrapper time {
    position: absolute;
    right: 20px;
}

.timeline .details .text {
    padding-right: 60px;
} 

.timeline .linewrapper {
    position: absolute;
    top: 0;
    left: 33.3%;
    width: 3px;
    height: 100%;
    background-color: var(--black);
}

.timeline .linewrapper::before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: 50%;

    width: 12px;
    height: 12px;
    border-radius: 25px;
    transform: translateX(-50%);
    z-index: 1;

    background-color: var(--black);
}

/* .more SECTION
----------------------
*/

.more {
    padding: 100px;
    text-align: center;
}

.more button {
    width: 200px;
    height: 60px;
    border-radius: 15px;

    background-color: var(--black);
    color: var(--white);
}


/* media SECTION
----------------------
*/

@media (max-height: 800px) {
    .timeline ul li {
        padding: 10px;
    }
}

@media (max-width: 630px) {
    body {
        width: 500px;
        height: 98vh;
    }
    .timeline ul li {
        padding: 5px;
    }
}

@media (max-height: 640px) {
    body {
        width: 500px;
        height: auto;
    }
    .timeline ul li {
        padding: 0;
    }
    .timeline .details .text {
        padding-right: 0px;
    } 
    .more {
        padding: auto;
    }
}